<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>本地生活</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css?v=20260603">
  <link href="./css/main.css?v=20260603" rel="stylesheet">
  <link href="./css/blog-edit.css?v=20260606" rel="stylesheet">

  <style type="text/css">

  </style>
</head>
<body>
<div id="app">
  <div class="header">
    <div class="header-cancel-btn" @click="goBack">取消</div>
    <div class="header-title">发笔记<i class="el-icon-info"></i></div>
    <div class="header-commit">
      <div class="header-commit-btn" @click="submitBlog">发布</div>
    </div>
  </div>
  <div class="edit-scroll">
    <div class="upload-box">
    <input type="file" @change="fileSelected" name="file" ref="fileInput" style="display: none" multiple accept="image/*">
    <div class="upload-btn" v-show="fileList.length < 9" @click="openFileDialog">
      <i class="el-icon-camera"></i>
      <div style="font-size: 12px;line-height: 12px">上传照片</div>
    </div>
    <div class="pic-box" v-for="(f,i) in fileList" :key="f">
      <img :src="f" alt="">
      <i class="el-icon-close" @click.stop="deletePic(i)"></i>
    </div>
  </div>
  <div class="blog-title">
    <input v-model="params.title" type="text" placeholder="填写标题更容易上首页哦~">
  </div>
  <div class="blog-content">
    <textarea v-model="params.content" placeholder="最近打卡了什么地方，有什么新奇体验呢？"></textarea>
  </div>
  <div class="divider"></div>
  <div v-if="errorMsg" style="color: #f56c6c; font-size: 13px; text-align: center; padding: 8px 15px;">{{ errorMsg }}</div>
  <div class="blog-shop" @click="showDialog=true">
    <div class="shop-left">关联商户</div>
    <div v-if="selectedShop.name">{{selectedShop.name}}</div>
    <div v-else>去选择&nbsp;<i class="el-icon-arrow-right"></i></div>
  </div>
  </div>
  <!-- end edit-scroll -->
  <div class="mask" v-show="showDialog" @click="showDialog=false"></div>

  <transition name="el-zoom-in-bottom">
    <div class="shop-dialog" v-show="showDialog">
      <div class="blog-shop">
        <div class="shop-left">关联商户</div>
      </div>
      <div class="search-bar">
        <div class="search-input">
          <i class="el-icon-search" @click="queryShops"></i>
          <input v-model="shopName" type="text" placeholder="搜索商户名称">
        </div>
      </div>
      <div class="shop-list">
        <div v-for="s in shops" class="shop-item" @click="selectShop(s)">
          <div class="shop-name">{{s.name}}</div>
          <div>{{s.area}}</div>
        </div>
      </div>
    </div>
  </transition>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<!-- 引入组件库 -->
<script src="./js/element.js"></script>
<script src="./js/common.js"></script>
<script src="./js/footer.js"></script>
<script>

  const app = new Vue({
    el: "#app",
    data() {
      return {
        util,
        fileList: [], // 文件列表
        params: {},
        errorMsg: "", // 内联错误提示
        showDialog: false, //
        shops: [], // 商户信息
        shopName: "", //商户名称
        selectedShop: {}, // 选中的商户
      }
    },
    created() {
      this.checkLogin();
      this.queryShops();
    },
    watch: {
      shopName: function() {
        if (this._searchTimer) clearTimeout(this._searchTimer);
        this._searchTimer = setTimeout(function() {
          this.queryShops();
        }.bind(this), 300);
      }
    },
    methods: {
      queryShops() {
        axios.get("shop/of/name?size=100&name=" + this.shopName)
          .then(({data}) => this.shops = data)
          .catch(this.$message.error)
      },
      selectShop(s) {
        this.selectedShop = s;
        this.showDialog = false;
      },
      submitBlog() {
        this.errorMsg = "";
        // 校验登录状态
        if (!sessionStorage.getItem("token")) {
          this.$message.error("请先登录");
          location.href = "login.html?redirect=" + encodeURIComponent(location.href);
          return;
        }
        // 校验图片上传状态（没有图片也可以发纯文字笔记）
        if (this.fileList.some(function(f) { return f.indexOf('blob:') === 0; })) {
          this.showError('图片正在上传中，请稍候');
          return;
        }
        // 校验标题
        if (!this.params.title || !this.params.title.trim()) {
          this.showError('请输入标题');
          return;
        }
        // 校验内容
        if (!this.params.content || !this.params.content.trim()) {
          this.showError('请输入内容');
          return;
        }
        // 校验商户
        if (!this.selectedShop.id) {
          this.showError('请关联商户');
          return;
        }
        let {...data} = this.params;
        data.images = this.fileList.join(",");
        data.shopId = this.selectedShop.id;
        axios.post("blog", data)
          .then(resp => location.href="info.html")
          .catch(err => {
            if (err === "请先登录") {
              sessionStorage.removeItem("token");
              location.href = "login.html?redirect=" + encodeURIComponent(location.href);
            } else {
              this.showError(err);
            }
          })
      },
      showError(msg) {
        this.errorMsg = msg;
        this.$message.error(msg);
      },
      openFileDialog() {
        if (this.fileList.length >= 9) {
          this.$message.warning("最多上传 9 张照片");
          return;
        }
        // 有图片正在上传中，禁止再次打开选择器（防止打断进行中的上传）
        if (this.fileList.some(function(f) { return f.indexOf('blob:') === 0; })) {
          this.$message.warning("图片正在上传中，请稍候再添加");
          return;
        }
        // 每次打开前先清空，确保重复选择同一文件也能触发 change
        this.$refs.fileInput.value = '';
        this.$refs.fileInput.click();
      },
      fileSelected() {
        var self = this;
        var fileInput = this.$refs.fileInput;
        var files = Array.prototype.slice.call(fileInput.files || []);
        if (!files.length) return;

        var remaining = 9 - self.fileList.length;
        if (remaining <= 0) {
          self.$message.warning("最多上传 9 张照片");
          fileInput.value = '';
          return;
        }
        if (files.length > remaining) {
          self.$message.warning("最多还能上传 " + remaining + " 张，已自动截取前 " + remaining + " 张");
        }
        var toUpload = files.slice(0, remaining);

        // 并发上传所有选中的文件，全部完成后才清空 fileInput，防止打断正在进行的上传
        var uploads = toUpload.map(function(file) {
          // 先本地预览，上传成功后再替换为服务器地址
          var preview = URL.createObjectURL(file);
          self.fileList.push(preview);

          var formData = new FormData();
          formData.append("file", file);
          return axios.post("upload/blog", formData)
            .then(function(resp) {
              var idx = self.fileList.indexOf(preview);
              URL.revokeObjectURL(preview);
              if (idx !== -1) self.$set(self.fileList, idx, resp.data);
            })
            .catch(function(err) {
              var idx = self.fileList.indexOf(preview);
              URL.revokeObjectURL(preview);
              if (idx !== -1) self.fileList.splice(idx, 1);
              self.$message.error(typeof err === 'string' ? err : '上传失败');
            });
        });
        // 等所有上传完成后才清空 input，避免打断进行中的上传
        Promise.all(uploads).finally(function() {
          fileInput.value = '';
        });
      },
      deletePic(i) {
        var url = this.fileList[i];
        if (url.indexOf('blob:') === 0) {
          URL.revokeObjectURL(url);
          this.fileList.splice(i, 1);
          return;
        }
        var name = url.indexOf("/imgs") === 0 ? url.substring(5) : url;
        axios.get("upload/blog/delete?name=" + encodeURIComponent(name))
          .then(() => this.fileList.splice(i, 1))
          .catch(this.$message.error)
      },
      checkLogin() {
        // 获取token
        let token = sessionStorage.getItem("token");
        if (!token) {
          location.href = "login.html?redirect=" + encodeURIComponent(location.href);
          return;
        }
        // 查询用户信息验证 token 有效性
        axios.get("user/me")
          .then()
          .catch(err => {
            this.$message.error(err);
            sessionStorage.removeItem("token");
            setTimeout(function() {
              location.href = "login.html?redirect=" + encodeURIComponent(location.href);
            }, 200);
          })
      },
      goBack() {
        history.back();
      },
      handleRemove(file) {
        console.log(file);
      }
    },

  })
</script>
</body>
</html>