<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>本地生活</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css?v=20260603">

  <link href="./css/shop-list.css?v=20260603" rel="stylesheet">
  <link href="./css/main.css?v=20260603" rel="stylesheet">

  <style type="text/css">
      #app { height: 100vh; display: flex; flex-direction: column; overflow: hidden; padding-bottom: 0; }
      .el-dropdown-menu { max-height: 280px; overflow-y: auto; }
      .el-dropdown-menu__item { font-size: 13px; line-height: 32px; }
  </style>
</head>
<body>
<div id="app">
  <div class="header">
    <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
    <div class="header-title">{{typeName}}</div>
    <div class="header-search">
      <i class="el-icon-search"></i>
    </div>
  </div>
  <div class="sort-bar">
    <div class="sort-item">
      <el-dropdown trigger="click" @command="handleCommand">
      <span class="el-dropdown-link">
        {{typeName}}<i class="el-icon-arrow-down el-icon--right"></i>
      </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item v-for="t in types" :key="t.id" :command="t">
            {{t.name}}
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <div class="sort-item" @click="sortAndQuery('')">
      距离 <i class="el-icon-arrow-down el-icon--right"></i>
    </div>
    <div class="sort-item" @click="sortAndQuery('comments')">
      人气 <i class="el-icon-arrow-down el-icon--right"></i>
    </div>
    <div class="sort-item" @click="sortAndQuery('score')">
      评分 <i class="el-icon-arrow-down el-icon--right"></i>
    </div>
  </div>
  <div class="shop-list" @scroll="onScroll">
    <div class="shop-box" v-for="s in shops" :key="s.id" @click="toDetail(s.id)">
      <div class="shop-img"><img :src="s.images" alt=""></div>
      <div class="shop-info">
        <div class="shop-title shop-item">{{s.name}}</div>
        <div class="shop-rate shop-item" >
          <el-rate
              disabled v-model="s.score/10"
              text-color="#FF2442"
              show-score
          ></el-rate>
          <span>{{s.comments}}条</span>
        </div>
        <div class="shop-area shop-item">
          <span>{{s.area}}</span>
          <span v-if="s.distance">{{s.distance < 1000 ? s.distance.toFixed(1) + 'm' : (s.distance/1000).toFixed(1) + 'km'}}</span>
        </div>
        <div class="shop-avg shop-item">￥{{s.avgPrice}}/人</div>
        <div class="shop-address shop-item">
          <i class="el-icon-map-location"></i>
          <span>{{s.address}}</span>
        </div>
      </div>
    </div>
    <div v-if="!noMore && shops.length > 0" style="text-align:center;padding:16px;">
      <el-button type="danger" plain round size="small" @click="loadMore" :loading="loadingMore">加载更多</el-button>
    </div>
    <div v-if="noMore && shops.length > 0" style="text-align:center;color:#ccc;padding:16px;font-size:13px;">— 没有更多了 —</div>
  </div>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<!-- 引入组件库 -->
<script src="./js/element.js"></script>
<script src="./js/common.js"></script>
<script>

  const app = new Vue({
    el: "#app",
    data: {
      util,
      loadingMore: false,
      isReachBottom: false,
      noMore: false, // 是否没有更多数据
      isSearchMode: false, // 是否搜索模式
      types: [], // 类型列表
      shops: [], // 商店列表
      typeName: "",
      params:{
        typeId: 0,
        keyword: "",  // 搜索关键词
        current: 1,
        sortBy: "",
        x: null, // 经度（按分类浏览时不传坐标，走数据库分页）
        y: null  // 纬度
      }
    },
    created() {
      if (!sessionStorage.getItem("token")) {
        location.href="login2.html?redirect=" + encodeURIComponent(location.href);
        return;
      }
      // 获取参数
      this.params.typeId = util.getUrlParam("type");
      this.params.keyword = util.getUrlParam("name");  // 搜索关键词
      this.typeName = util.getUrlParam("name") || "搜索";
      // 判断是否是搜索模式
      if (!this.params.typeId && this.params.keyword) {
        // 搜索模式：按名称搜索
        this.isSearchMode = true;
        this.typeName = "搜索：" + this.params.keyword;
        // 查询类型列表（用于下拉切换）
        this.queryTypes();
        // 按名称搜索
        this.queryShopsByName();
      } else {
        // 按类型浏览
        this.isSearchMode = false;
        if (!this.params.typeId) this.params.typeId = 1;
        this.queryTypes();
        this.queryShops();
      }
    },
    methods: {
      queryTypes() {
        axios.get("shop-type/list")
          .then(({data}) => {
            this.types = data;
          })
          .catch(err => {
            console.log(err);
            this.$message.error(err)
          })
      },
      queryShops() {
        if (this.noMore) return;
        axios.get("shop/of/type", {
            params: this.params
          })
          .then(({data}) => {
            if (!data || data.length === 0) {
              this.noMore = this.params.current > 1;
              return
            }
            data.forEach(s => s.images = s.images.split(',')[0]);
            this.shops = this.shops.concat(data);
          })
          .catch(err => {
            console.log(err);
            this.$message.error(err)
          })
      },
      queryShopsByName() {
        if (this.noMore) return;
        axios.get("shop/of/name", {
            params: {
              name: this.params.keyword,
              current: this.params.current
            }
          })
          .then(({data}) => {
            if (!data || data.length === 0) {
              this.noMore = this.params.current > 1;
              return
            }
            data.forEach(s => s.images = s.images.split(',')[0]);
            this.shops = this.shops.concat(data);
          })
          .catch(err => {
            console.log(err);
            this.$message.error(err)
          })
      },
      handleCommand(t) {
        location.href="shop-list.html?type="+t.id+"&name="+t.name;
      },
      sortAndQuery(sortBy) {
        this.params.sortBy = sortBy;
        this.params.current = 1;
        this.shops = [];
        this.noMore = false;
        this.queryShops();
      },
      goBack() {
        location.href="index.html";
      },
      toDetail(id) {
        location.href="shop-detail.html?id="+id
      },
      onScroll(e) {
        let scrollTop = e.target.scrollTop;
        let offsetHeight = e.target.offsetHeight;
        let scrollHeight = e.target.scrollHeight;
        if(scrollTop + offsetHeight + 1 > scrollHeight && !this.isReachBottom && !this.noMore){
          this.isReachBottom = true
          console.log("触底")
          this.params.current++
          if (this.isSearchMode) {
            this.queryShopsByName();
          } else {
            this.queryShops(this.params.current, 5);
          }
        }else{
          this.isReachBottom = false
        }
      },
      loadMore() {
        if (this.loadingMore || this.noMore) return;
        this.loadingMore = true;
        this.isReachBottom = true;
        this.params.current++;
        var self = this;
        var done = function() {
          self.loadingMore = false;
          self.isReachBottom = false;
        };
        if (this.isSearchMode) {
          axios.get("shop/of/name", { params: { name: this.params.keyword, current: this.params.current } })
            .then(({data}) => {
              if (!data || data.length === 0) { this.noMore = true; done(); return; }
              data.forEach(s => s.images = s.images.split(',')[0]);
              self.shops = self.shops.concat(data);
              done();
            })
            .catch(err => { this.$message.error(err); done(); });
        } else {
          axios.get("shop/of/type", { params: this.params })
            .then(({data}) => {
              if (!data || data.length === 0) { this.noMore = true; done(); return; }
              data.forEach(s => s.images = s.images.split(',')[0]);
              self.shops = self.shops.concat(data);
              done();
            })
            .catch(err => { this.$message.error(err); done(); });
        }
      },
    }
  })
</script>
</body>
</html>